---
layout: default
---

{% include home-header.html %}

<h1>Teaching Assistant</h1>

<p>
    <ul>
        <li>Security and Privacy of Machine Learning, Sharif University of Technology</li>
        <li>Data and Network Security, Sharif University of Technology</li>
        <li>Operating Systems, Sharif University of Technology</li>
        <li>Introduction to Computer Programming with Lab, Isfahan University of Technology</li>
        <li>Computer Networks Lab, Isfahan University of Technology</li>
        <li>Advanced Programming, Isfahan University of Technology</li>
    </ul>
</p>