---
layout: default
---

{% include home-header.html %}

<h1>Teaching Assistant</h1>

<section>
  <h2>Teaching Experience</h2>
  <ul>
    <li>
      <strong>Sharif University of Technology</strong><br>
      <em>Head Teaching Assistant:</em>
      <ul>
        <li>Applied Cryptography; Dr. Masoumeh Koochak Shooshtari (<a href="https://scholar.google.com/citations?user=1uyRZ0sAAAAJ&hl=en">Scholar</a>) <span style="float:right;">Fall 2024</span></li>
        <li>Computer Networks; Dr. Amir Mahdi Sadeghzadeh (<a href="https://amsadeghzadeh.github.io/">Website</a>, <a href="https://scholar.google.com/citations?user=SndfdlwAAAAJ&hl=en">Scholar</a>) <span style="float:right;">Fall 2024</span></li>
      </ul>
    </li>
    <li>
      <strong></strong><br>
      <em>Teaching Assistant:</em>
      <ul>
        <li>Formal Methods for Information Security; Prof. Morteza Amini (<a href="https://sharif.edu/~amini/">Website</a>, <a href="https://scholar.google.com/citations?user=Rsmx5DYAAAAJ&hl=en">Scholar</a>) <span style="float:right;">Spring 2024</span></li>
        <li>Database Design; Prof. Morteza Amini <span style="float:right;">Fall 2023</span></li>
        <li>Data and Network Security; Prof. Morteza Amini <span style="float:right;">Spring 2023</span></li>
        <li>Data and Network Security; Dr. Kambiz Mizanian (<a href="https://www.linkedin.com/in/kambiz-mizanian-1a286a104/">LinkedIn</a>) <span style="float:right;">Spring 2023</span></li>
      </ul>
    </li>
    <li>
      <strong>Isfahan University of Technology</strong><br>
      <em>Teaching Assistant:</em>
      <ul>
        <li>Discrete Structures; Prof. Sayed Jalal Zahabi (<a href="https://zahabi.iut.ac.ir/">Website</a>, <a href="https://scholar.google.com/citations?user=xsY6VrEAAAAJ&hl=en">Scholar</a>) <span style="float:right;">Spring 2024</span></li>
        <li>Basis of C Programming Lab; Prof. Sayed Jalal Zahabi (<a href="https://zahabi.iut.ac.ir/">Website</a>, <a href="https://scholar.google.com/citations?user=xsY6VrEAAAAJ&hl=en">Scholar</a>) <span style="float:right;">Fall 2022</span></li>
        <li>Computer Networks Lab; Mahbobeh Massah (<a href="mailto:massah@of.iut.ac.ir">Email</a>) <span style="float:right;">Fall 2020</span></li>
        <li>Basis of C Programming Lab; Prof. Elham Mahmoudzadeh (<a href="https://mahmoudzadeh.iut.ac.ir/">Website</a>, <a href="https://scholar.google.com/citations?user=4w7U5csAAAAJ&hl=en">Scholar</a>) <span style="float:right;">Fall 2018</span></li>
      </ul>
    </li>
  </ul>
</section>

<!-- <p>
    <ul>
        <li>Security and Privacy of Machine Learning, Sharif University of Technology</li>
        <li>Data and Network Security, Sharif University of Technology</li>
        <li>Operating Systems, Sharif University of Technology</li>
        <li>Introduction to Computer Programming with Lab, Isfahan University of Technology</li>
        <li>Computer Networks Lab, Isfahan University of Technology</li>
        <li>Advanced Programming, Isfahan University of Technology</li>
    </ul>
</p> -->
