---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

<ul>
  <li>
    A. D. Abdullahi, E. Bahrami, T. Dargahi, M. Al-Khalidi, and M. Hammoudeh, 
    “<strong>MLT: A Machine Learning Based Trust Management System for Intelligent Transportation System</strong>,” 
    <em>International Journal of Critical Infrastructure Protection - Elsevier</em>, 2024. (Under Review)
  </li>
  <li>
    A. M. Aghapour, E. Bahrami, and M. Amini, 
    “<strong>Ad Hoc Prevention of Double-Spending</strong>,” 
    <em>IEEE Transactions on Computers</em>, 2024. (Under Review)
  </li>
  <li>
    E. Bahrami, A. M. Aghapour, and M. Amini, 
    “<strong>My Thesis</strong>,” 2024. (In preparation)
  </li>
</ul>

