---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

<ul>
  <li>
    <strong>E. Bahrami</strong>, A. M. Aghapour, and M. Amini, 
    “<strong>LIoTning: A Peer-Supervised Payment Channel Approach for Secure Micropayments in IoT Ecosystem</strong>,” 
    <em>IEEE Access</em>, 2025. (Under review)
  </li>
  <li>
    A. D. Abdullahi, <strong>E. Bahrami</strong>, and T. Dargahi, 
    “<strong>SoK: Driving Data Value - Privacy, Security, and Ethical Considerations in Vehicular Data Monetisation Review</strong>,” 
    <em>Proceedings of the 7th ACM International Symposium on Blockchain and Secure Critical Infrastructure</em>, 2025. (Under review)
  </li>
  <li>
    A. M. Aghapour, <strong>E. Bahrami</strong>, and M. Amini, 
    “<strong>Ad Hoc Prevention of Double-Spending in Offline Payment</strong>,” 
    <em>IEEE Transactions on Computers</em>, 2025. (Under review)
  </li>
  <li>
    A. D. Abdullahi, <strong>E. Bahrami</strong>, T. Dargahi, M. Al-Khalidi, and M. Hammoudeh, 
    “<strong>Interplay between Security, Privacy, and Trust in 6G-enabled Intelligent Transportation Systems</strong>,” 
    <em>IEEE Open Journal of Intelligent Transportation Systems</em>, 2025. (Under review)
  </li>
  <li>
    A. D. Abdullahi, <strong>E. Bahrami</strong>, T. Dargahi, M. Al-Khalidi, and M. Hammoudeh, 
    “<strong>Robust Trust Management in Intelligent Transportation System: A Machine Learning Approach</strong>,” 
    <em>International Journal of Critical Infrastructure Protection - Elsevier</em>, 2024. (Under review)
  </li>
</ul>


