---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

<ul>
  <li style="margin-bottom: 10px;">
    Erfan Bahrami, Amir M. Aghapour, and Morteza Amini, 
    “<strong style="color: #D5D8DC;">LIoTning: A Peer-Supervised Payment Channel Approach for Secure Micropayments in IoT Ecosystem</strong>,” 
    <em>IEEE Access</em>, 2025. 
  </li>
  <li style="margin-bottom: 10px;">
    Ahmed D. Abdullahi, Erfan Bahrami, and Tooska Dargahi, 
    “<strong style="color: #D5D8DC;">SoK: Driving Data Value - Privacy, Security, and Ethical Considerations in Vehicular Data Monetisation Review</strong>,” 
    <em>Proceedings of the 7th ACM International Symposium on Blockchain and Secure Critical Infrastructure</em>, 2025.
  </li>
  <li style="margin-bottom: 10px;">
    Amir M. Aghapour, Erfan Bahrami, and Morteza Amini, 
    “<strong style="color: #D5D8DC;">Ad Hoc Prevention of Double-Spending in Offline Payment</strong>,” 
    <em>IEEE Transactions on Computers</em>, 2025.
  </li>
  <li style="margin-bottom: 10px;">
    Ahmed D. Abdullahi, Erfan Bahrami, Tooska Dargahi, Mohammed Al-Khalidi, and Mohammad Hammoudeh, 
    “<strong style="color: #D5D8DC;">Interplay between Security, Privacy, and Trust in 6G-enabled Intelligent Transportation Systems</strong>,” 
    <em>IEEE Open Journal of Intelligent Transportation Systems</em>, 2025.
  </li>
  <li style="margin-bottom: 10px;">
    Ahmed D. Abdullahi, Erfan Bahrami, Tooska Dargahi, Mohammed Al-Khalidi, and Mohammad Hammoudeh, 
    “<strong style="color: #D5D8DC;">Robust Trust Management in Intelligent Transportation System: A Machine Learning Approach</strong>,” 
    <em>International Journal of Critical Infrastructure Protection - Elsevier</em>, 2024.
  </li>
</ul>



