---
layout: default
---

{% include home-header.html %}

<h1>Teaching Assistant</h1>

  <ul>
    <li>
      <strong>Sharif University of Technology</strong><br>
      <ul>
        <li>
          <span style="float:left;">Applied Cryptography</span> 
          <span style="float:right;">Fall 2024</span><br>
          <span>Prof. Masoumeh Koochak Shooshtari (<a href="https://scholar.google.com/citations?user=1uyRZ0sAAAAJ&hl=en">Scholar</a>)</span>
        </li>
        <li>
          <span style="float:left;">Computer Networks</span> 
          <span style="float:right;">Fall 2024</span><br>
          <span>Prof. Amir Mahdi Sadeghzadeh (<a href="https://amsadeghzadeh.github.io/">Website</a>, <a href="https://scholar.google.com/citations?user=SndfdlwAAAAJ&hl=en">Scholar</a>)</span>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <li>
          <span style="float:left;">Formal Methods for Information Security</span> 
          <span style="float:right;">Spring 2024</span><br>
          <span>Prof. Morteza Amini (<a href="https://sharif.edu/~amini/">Website</a>, <a href="https://scholar.google.com/citations?user=Rsmx5DYAAAAJ&hl=en">Scholar</a>)</span>
        </li>
        <li>
          <span style="float:left;">Database Design</span> 
          <span style="float:right;">Fall 2023</span><br>
          <span>Prof. Morteza Amini</span>
        </li>
        <li>
          <span style="float:left;">Data and Network Security</span> 
          <span style="float:right;">Spring 2023</span><br>
          <span>Prof. Morteza Amini</span>
        </li>
        <li>
          <span style="float:left;">Data and Network Security</span> 
          <span style="float:right;">Spring 2023</span><br>
          <span>Dr. Kambiz Mizanian (<a href="https://www.linkedin.com/in/kambiz-mizanian-1a286a104/">LinkedIn</a>)</span>
        </li>
      </ul>
    </li>
    <li>
      <strong>Isfahan University of Technology</strong><br>
      <ul>
        <li>
          <span style="float:left;">Discrete Structures</span> 
          <span style="float:right;">Spring 2024</span><br>
          <span>Prof. Sayed Jalal Zahabi (<a href="https://zahabi.iut.ac.ir/">Website</a>, <a href="https://scholar.google.com/citations?user=xsY6VrEAAAAJ&hl=en">Scholar</a>)</span>
        </li>
        <li>
          <span style="float:left;">Basis of C Programming Lab</span> 
          <span style="float:right;">Fall 2022</span><br>
          <span>Prof. Sayed Jalal Zahabi (<a href="https://zahabi.iut.ac.ir/">Website</a>, <a href="https://scholar.google.com/citations?user=xsY6VrEAAAAJ&hl=en">Scholar</a>)</span>
        </li>
        <li>
          <span style="float:left;">Computer Networks Lab</span> 
          <span style="float:right;">Fall 2020</span><br>
          <span>Mahbobeh Massah (<a href="mailto:massah@of.iut.ac.ir">Email</a>)</span>
        </li>
        <li>
          <span style="float:left;">Basis of C Programming Lab</span> 
          <span style="float:right;">Fall 2018</span><br>
          <span>Prof. Elham Mahmoudzadeh (<a href="https://mahmoudzadeh.iut.ac.ir/">Website</a>, <a href="https://scholar.google.com/citations?user=4w7U5csAAAAJ&hl=en">Scholar</a>)</span>
        </li>
      </ul>
    </li>
  </ul>
</section>


<!-- <p>
    <ul>
        <li>Security and Privacy of Machine Learning, Sharif University of Technology</li>
        <li>Data and Network Security, Sharif University of Technology</li>
        <li>Operating Systems, Sharif University of Technology</li>
        <li>Introduction to Computer Programming with Lab, Isfahan University of Technology</li>
        <li>Computer Networks Lab, Isfahan University of Technology</li>
        <li>Advanced Programming, Isfahan University of Technology</li>
    </ul>
</p> -->
